*{
    font-family: 'Poppins', sans-serif;
}
.inputpage{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align:left;
    width: 550px;
    height: 650px;
    line-height: 60px;
    margin-bottom:10px;
    background-color: lightgray;
    margin-left: 32%;
    margin-top: 10%;
    
}
.margin{
    margin-left: 30px;
}
.submit{
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius: 20%;
    margin-left: 30%;
    margin-top: 40px;
}
.formcontrol{
    position: relative;
}
.formcontrol i{
    position: absolute;
    top: 23px;
    right: 80px;
    visibility: hidden;
}
.formcontrol i.fa-check-circle{
    color: green;
}
.formcontrol i.fa-times{
    color: red;
}
