
*{margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins'; 
    
   }
    .section{
       width: 100%;
       min-height: 100vh;
       background-color: #768BA6;


   }
   .container{
       width: 80%;
       display: block;
       margin: auto;
       padding-top: 100px;
   }
   .content-section{
       float: left;
       width: 55%;
       
   }
   .image-section{
       float: right;
       width: 40%;
       margin-left: 100px;
   }
   .image-section img{
       width: 80%;
       height: auto;
       border-radius: 20px;
       border: 6px double black;
       
       

   }
   /* .home{
    float: none;
    width: 40%
    
   }
   .home img{
    width: 100%;
    height: auto; */

   .content-section .title{
       text-transform: uppercase;
       font-size: 28px;
       color: purple;
   

   }
   .content-section .content h3{
       margin-top:20px;
       color: #5d5d5d;
       font-size: 20px;
   }
   .content-section .content p{
       margin-top: 10px;
       font-family: sans-serif;
       font-size: 17px;
       line-height: 1.5;



   }
   .content-section .content .button {
       margin-top: 30px;

   }
.content-section .content .button a{
    background-color: rgb(5, 20, 20);
    padding: 12px 40px;
    text-decoration: none;
    color: #fff; 
    font-size: 25px;
    letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
    background-color: #a55555;
    color: #fff; 
}

.form img{
    width: 20%;
    height: 20%;
    float: left;
    border-radius: 8px;
    border: 1px solid #ddd;
    display: block;
    margin-left: 10%;
    margin-right: 20%;
    border: 6px double black;


}


.image{
    width: 10px;
    height: 10px;
    float: left;
    border-radius: 8px;
    border: 1px solid #ddd; 
    display: block;    
    margin-right: 20%;

}
.form{
    text-align: left;
       
       
}
body{
   background-color:#768BA6;
}
.wrapper h2{
    font-family: 'Allura',cursive;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: left;
    
}
.team{
    text-align: center;
    width: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: #768BA6;
}

.team .team_member{
    background-color: #8fb9f0;

    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    position: relative;
}
.team .team_member h3{
    color: black;
    font-size: 26px;
    margin-top: 30px;
 

}
.team .team_member p.role{
    color:black;
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;

}
.wrapper{
    margin-bottom: 10px;
    text-align:left;
    padding-left: 40%;
    color: purple;

}

.team .team_member .team_img{
    width: 100px;
    height: 100px;
    background:transparent;
    border-radius: 20px;

} 
.team .team_member .team_img img{
    width: 150px;
    height: 150px;
    padding: 20px;
    top: 10%;
    background-color: rgb(120, 136, 115);
    


}
.team .button{
 background:blanchedalmond; 
}
.team.button:hover{
background-color: cornsilk;

}
.button:hover{
    cursor: pointer;
    /* background-color: wheat; */
    color: black;
    font-size: 15px;
}
.another>img{
 padding-top: 20px; 
 /* width: 80%; */
/* height: auto; */
border-radius: 20px;
border: 6px double black;
margin-bottom: 20px;
margin-top: 40px;

}
.section{
    display: flex;
    padding-bottom: 30px;

}
.container{
    display: flex;
}
.image-section{
    padding: 40px;
}
.another h4{
    font-style: italic;
    font-size: 20px;
    font-weight: 20px;
    color: purple;
}

.another p{
    margin-top: 10px;
       font-family: sans-serif;
       font-size: 17px;
       line-height: 1.5;

}
.team p{
    font-style: italic;
    font-size: 20px;
    font-weight: 20px;
    color:green;
}
.footertwo{
    background-color: grey;
    padding-top: 20px;
    padding-bottom: 10px;
}
.footertwo p{
text-align: center;
font-size: 0.5cm;
}
ul li{
    display: inline;
}
.nav{
border:1px solid #ccc;
border-width:1px 0;
list-style:none;
margin:0;
padding:0;
text-align:center;
box-sizing: border;
height:100px;
background-color: white;

}
.nav a{
    display:inline-block;
    padding:20px;
}
.logo{
    float: left;
    margin: 0 0 0 20px;
    font-size: 30px;
    text-align: space-between;
    font-family:'Caveat', cursive;
    color: purple;

}
.icons{
    float: right;
}